In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv("train.csv")

In [3]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
dataset = dataset.drop(columns = "Cabin",axis = 1)

In [6]:
dataset =  dataset.drop(columns = "Name",axis = 1)

In [7]:
dataset.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S

In [8]:
dataset["Age"].fillna(dataset["Age"].mean(),inplace = True)

In [9]:
dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [10]:
dataset["Embarked"].mode()

0    S
Name: Embarked, dtype: object

In [11]:
dataset["Embarked"].mode()[0]

'S'

In [12]:
#replcing the missing values with mode value
dataset["Embarked"].fillna(dataset["Embarked"].mode()[0],inplace = True)

In [13]:
dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [14]:
sns.set()

In [15]:
dataset["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [16]:
# sns.countplot("Survived",data = dataset)

# Encodeint the categorical data

In [17]:
dataset["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
dataset["Embarked"].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
#converting the categoraical column

In [20]:
le = LabelEncoder()
dataset["Sex"] = le.fit_transform(dataset["Sex"])

In [21]:
le = LabelEncoder()
dataset["Embarked"] = le.fit_transform(dataset["Embarked"])

In [22]:
dataset.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,2
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,0
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,2
3,4,1,1,0,35.0,1,0,113803,53.1000,2
4,5,0,3,1,35.0,0,0,373450,8.0500,2

In [23]:
dataset = dataset.drop(columns = "Ticket",axis = 1)

In [24]:
# dataset["Age"] = dataset["Age"].astype(np.float32)
dataset["Age"] = pd.to_numeric(dataset["Age"])

In [25]:
x = dataset.drop(columns = ["PassengerId","Survived"],axis = 1)

In [26]:
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [27]:
dataset.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [28]:
y = dataset.drop(columns = ["Parch","PassengerId","Pclass","Sex","Age","SibSp","Fare","Embarked"], axis = 1)

In [29]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=11)

In [31]:
regression = LogisticRegression()

# Predicting values for train data

In [32]:
regression.fit(x_train,y_train)

C:\Users\niles\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [33]:
y_pred = regression.predict(x_train)

In [34]:
accuracy_score(y_train,y_pred)*100

77.84911717495987

# Predicting Values for test data

In [35]:
regression.fit(x_test,y_test)

C:\Users\niles\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [36]:
y_pred = regression.predict(x_test)

In [37]:
accuracy_score(y_test,y_pred)*100

85.07462686567165